In [1]:
import pandas as pd
import re

### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
### Sample Text- 'Python Exercises, PHP exercises.'
### Expected Output: Python:Exercises::PHP:exercises:

In [2]:
sample_test = 'Python Exercises, PHP exercises.'

replace_test = sample_test.replace(",",":").replace(" ", ":").replace(".", ":")

print(replace_test)

Python:Exercises::PHP:exercises:

In [3]:
test = 'Python Exercises, PHP exercises.'

pattern = re.compile(r"[ ,.\s]")

re_test = pattern.sub(":", test)

print(re_test)

Python:Exercises::PHP:exercises:

### Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Expected output-

0      hello world

1             test

2    four five six

In [4]:
data ={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(data)

df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-z\s]',"")

print(df)

## or 

## df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-z\s]',"", regex = True)

## print(df)

         SUMMARY
0    hello world
1           test
2  four five six

C:\Users\HP\AppData\Local\Temp\ipykernel_11068\3726370212.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-z\s]',"")

##### In pandas, regex=True has a few meanings:
##### If value is not None and to_replace is a string, the replacement will be applied in all columns of the DataFrame.
##### If value is not None and to_replace is a dictionary, the dictionary keys will be the DataFrame columns that the replacement will be applied.
##### If regex=True, then all of the strings in both lists will be interpreted as regexs otherwise they will match directly.

### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [5]:
import pandas as pd
import re


test = "APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile Man of India"

pattern = re.compile(r'\b\w{4,}\b')

result = pattern.findall(test)

print(result)

['Abdul', 'Kalam', 'Indian', 'aerospace', 'scientist', 'also', 'known', 'Missile', 'India']

### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [6]:
import pandas as pd
import re


test = "APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile Man of India"

pattern = re.compile(r'\b\w{3,5}\b')

result = pattern.findall(test)

print(result)

['APJ', 'Abdul', 'Kalam', 'was', 'also', 'known', 'the', 'Man', 'India']

### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
### Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
### Expected Output:
example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data Scientist

In [2]:
import re
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

def remove_parentheses(strings):
    pattern = re.compile(r"[()]")
    new_strings = []
    for string in strings:
        new_string = re.sub(pattern, "", string)
        new_strings.append(new_string)
    return new_strings


result = remove_parentheses(sample_text)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

### Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [29]:
import re
Sample_Text = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*', Sample_Text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

### Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [51]:
import re

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

pattern = re.compile(r'(\d+)([A-Z]+)')

result = pattern.sub(r' \1\2',sample_text)

print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [53]:
import re

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

pattern = re.compile(r'(\d+)([A-Z]+)')

result = pattern.sub(r' \1 \2',sample_text)

print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [68]:
import pandas as pd
import re


df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')



df['first_five_letters'] = df['Country'].apply(lambda x: x[ :6])


df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [72]:
import pandas as pd
import re

str = "hello_world, 1234567890, ABCDEFGHIJKLMNOPQRSTUVWXYZ_, abcdefghijklmnopqrstuvwxyz_"

pattern = re.compile(r'\W')
                     
result = pattern.sub(r" ", str)
                     
print(result)

hello_world  1234567890  ABCDEFGHIJKLMNOPQRSTUVWXYZ_  abcdefghijklmnopqrstuvwxyz_

### Question 12- Write a Python program where a string will start with a specific number.

In [12]:
import pandas as pd
import re

string = "hello_world 1234567890 ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz"

def string_starting_number(string, number):
    if string.startswith(str(number)):
        return True
    else:
        return False
    
if string_starting_number(string, number):
    print("string start with a specific number")
    
else :
    print("string not start with number")

string not start with number

### Question 13- Write a Python program to remove leading zeros from an IP address

In [1]:
import pandas as pd
import re

ip = '192.168.002.100'

pattern = '\.[0]*'

result = re.sub(pattern, ".", ip)

print(result)

192.168.2.100

### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [26]:
test =  "India celebrated its 75th Republic Day on January 26th 2024. The day is a celebration of the Constitution, and building India as a republic instead of a colony or dominion of any nation."

pattern = r"(\b[A-Z][a-z]+ \d{1,2}th \d{4}\b)" 
                     
result = re.findall(pattern, test)
           
print(result)

['January 26th 2024']

### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [36]:
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r"(\b[A-Z][a-z]+ \d{1,2}th \d{4}\b)"

result = re.findall(pattern, text)

print(result)

['August 15th 1947']

### Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [53]:
import re

patterns = [ 'fox', 'dog', 'horse' ]

text = 'The quick brown fox jumps over the lazy dog.'

for match in patterns:             
    
    print(' \n"%s"  in "%s" = ' % (match, text))
    
    if re.search(match,  text):
        
        print('available')
        
    else:
        
        print('not available')

"fox"  in "The quick brown fox jumps over the lazy dog." =
available

"dog"  in "The quick brown fox jumps over the lazy dog." =
available

"horse"  in "The quick brown fox jumps over the lazy dog." =
not available

### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [60]:
import re


pattern = 'fox'


text = 'The quick brown fox jumps over the lazy dog.'


match = re.search(pattern, text)


a = match.start()


b = match.end()


print('"%s" in "%s" from %d to %d ' % \
 
      
    (match.re.pattern, match.string, a, b))

"fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

### Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [62]:
import re
import pandas as pd

text = 'Python exercises, PHP exercises, C# exercises'

pattern = 'exercises'

for match in re.findall(pattern, text):
   
   print('Available "%s"' % match)

Available "exercises"
Available "exercises"
Available "exercises"

### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [73]:
import re

text = 'Python exercises, PHP exercises, C# exercises'

pattern = 'exercises'

for match in re.finditer(pattern, text):
    
    a = match.start()
    
    b = match.end()
    
    print('Available "%s" at %d:%d' % (text[a:b], a, b))

Available "exercises" at 7:16
Available "exercises" at 22:31
Available "exercises" at 36:45

### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [79]:
import re

def change_format(func):
    
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', func)
    
func1 = "2026-01-02"

print(func1)

print(change_format(func1))

2026-01-02
02-01-2026

### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [24]:
import re

text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

def decimal(string):
    
    pattern = re.compile(r'\d+\.\d{1,2}')
    
    decimal_number = re.findall(pattern, string)
    
    return decimal_number


output = decimal(text)

print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

### Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [1]:
import re

text = "India has been a federal republic since 1950, governed through a democratic parlimentary system."

for i in re.finditer("\d+", text):
    
    print(i.group())
    
    print("position = ", i.start())

1950
position =  40

### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [10]:
import re

text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

values = re.findall(r'\d+', text)


max_value = max(values)

print(max_value)

950

### Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [17]:
import re
import pandas as pd

text = "RegularExpressionIsAnImportantTopicInPython"

result = re.findall("[A-Z][a-z]*", text)

print(' '.join((result)))

Regular Expression Is An Important Topic In Python

### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [24]:
import re
import pandas as pd

text = "India has been a Federal republic since 1950, Governed through a Democratic parlimentary System."

pattern = r'[A-Z][a-z]+'

result = re.findall(pattern, text)

print(result)

['India', 'Federal', 'Governed', 'Democratic', 'System']

### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [37]:
import re
import pandas as pd

text = 'Hello hello world world'

def remove_duplicated(text):
    pattern = r"\b(\w+)(?:\W\1\b)+"
    
    return re.sub(pattern, r"\1", text)

print(remove_duplicated(text))

Hello hello world

### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [5]:
import re

pattern = '[a-zA-Z0-9]$'

def check_alphanumeric(string):
    if (re.search(pattern, string)):
        print("The string ends with alphanumeric character")
    else:
        print("The string doesnot end with alphanumeric character")

        

string1 = "Prasad123"
print(string1)
check_alphanumeric(string1)



string2 = "Prasad@"
print(string2)
check_alphanumeric(string2)

Prasad123
The string ends with alphanumeric character
Prasad@
The string doesnot end with alphanumeric character

### Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [9]:
import re

text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""

def extract_hashtags(text):
    hashtag = re.findall(r'#\w+', text)
    return hashtag

hashtag = extract_hashtags(text)
print(hashtag)

['#Doltiwal', '#xyzabc', '#Demonetization']

### Question 28- Write a python program using RegEx to remove <U+..> like symbolsCheck the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [13]:
import re

text = "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w+>"

result = re.sub(pattern, "", text)

print(result)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

### Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [21]:
import re

text = 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999'

pattern = r'\d{2}\-\d{2}\-\d{4}'


dates = re.findall(pattern, text)

print(dates)

['12-09-1992', '15-12-1999']

### Question 30- Create a function in python to remove all words from a string of length between 2 and 4. The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [47]:
import re
import pandas as pd

text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."


def words(string):
    
    pattern = re.compile(r'(\b[A-Za-z0-9]{2,4}\b)\s')
    
    new_string = re.sub(pattern, "", string)
    
    return new_string

result = words(text)

print(result)

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [48]:
import re

text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r'(\b[A-Za-z0-9]{2,4}\b)\s')

result = re.sub(pattern, "", text)

print(result)

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.