### Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.  
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.  
You have to scrape the job-title, job-location, company name, experience required.  
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs  
The task will be done as shown in the below steps:  
1. first get the web page https://www.naukri.com/ 
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.  
3. Then click the search button.  
4. Then apply the location filter and salary filter by checking the respective boxes  
5. Then scrape the data for the first 10 jobs results you get.  
6. Finally create a dataframe of the scraped data.  
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
## Opening the naukari page on automated chrome browser

driver.get("https://www.naukri.com/")

In [5]:
## Entering designation and Location as required in the question-

designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')

In [6]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [10]:
#location filter

location = driver.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[2]/div[2]/div[2]/label") 
location.click()

In [11]:
# SALARY FILTER

salary = driver.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[3]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [12]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [13]:
# scraping Job Title from the given page

title_tags = driver.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page

location_tags = driver.find_elements(By.XPATH, '//span[@class="loc-wrap ver-line"]/span/span')
for i in location_tags:
    location=i.text
    job_location.append(location)


# scraping company name from the given page
company_tags = driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company = i.text
    company_name.append(company)

      
# Scraping Job Experience from the given page

experience_tags = driver.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

In [14]:
print(len(job_title),len(job_location), len(company_name), len(experience_required))

20 20 20 20

In [15]:
df = pd.DataFrame({'Title' : job_title[:10], 'Location' :job_location[:10], 'Company_name':company_name[:10], 'Experience' : experience_required[:10]})
df

,Title,Location,Company_name,Experience
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs
1,Senior Data Scientist/ Data Scientist,"Mumbai, Pune, Chennai, Gurugram, Bengaluru",Neal Analytics,3-7 Yrs
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
3,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs
4,Associate Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,1-2 Yrs
5,Associate Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,1-2 Yrs
6,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Elitefit.ai,3-7 Yrs
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1-3 Yrs
8,Lead Customer Success - Data Scientist,"Pune, Gurugram",ZS Associates,2-4 Yrs
9,Data Scientist,Noida,Times Internet,3-8 Yrs

### Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.shine.com/ 
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field. 
3. Then click the searchbutton.  
4. Then scrape the data for the first 10 jobs results you get.  
5. Finally create a dataframe of the scraped data.

In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [18]:
driver = webdriver.Chrome()

In [19]:
## Opening the naukari page on automated chrome browser

driver.get("https://www.shine.com/")

In [20]:
## Entering designation and Location as required in the question-

click_button = driver.find_element(By.XPATH, "/html/body/div[1]/header/div[3]/div/div/div[1]/div/input")
click_button.click()

In [21]:
## Entering designation and Location as required in the question-

designation = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [22]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [23]:
search = driver.find_element(By.XPATH, " /html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [24]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [25]:
# scraping Job Title from the given page

title_tags = driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page

location_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)


# scraping company name from the given page
company_tags = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company = i.text
    company_name.append(company)

      
# Scraping Job Experience from the given page

experience_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

In [26]:
print(len(job_title),len(job_location), len(company_name), len(experience_required))

20 20 20 20

In [27]:
df = pd.DataFrame({'Title' : job_title[:10], 'Location' :job_location[:10], 'Company_name':company_name[:10], 'Experience' : experience_required[:10]})
df

,Title,Location,Company_name,Experience
0,Data Scientist,Bangalore\n+4,alike thoughts solutions private li...,5 to 10 Yrs
1,Data Scientist Urgent Recruitment,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
2,Data Scientist Opening,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
3,Data Scientist Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Data Scientist Vacancy,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
5,Hiring For Data Scientist,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
6,Data Scientist Opening,Bangalore\n+15,renuka interprises,0 to 4 Yrs
7,Data Scientist Opening,Bangalore\n+15,renuka interprises,0 to 4 Yrs
8,Data Scientist Recruitment,Bangalore\n+9,radhika enterprises,0 to 4 Yrs
9,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs

### Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review summary 
3. Full review 
4. You have to scrape this data for first 100reviews. 
Note: All the steps required during scraping should be done through code only and not manually.

In [26]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [27]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [28]:
driver = webdriver.Chrome()

In [29]:
## Opening the naukari page on automated chrome browser

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [33]:
rating = []
Review = []
Full_review = []

In [35]:
start = 0
end = 10

for page in range(start, end):

    rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
    

    review_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in review_tags:
        Review.append(i.text)
    
    full_review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        Full_review.append(i.text)
        
   
    
    #to scrap data from next pages as well
    
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')  
                                                    
                                                
            
    next_button.click()
    time.sleep(5)

In [36]:
print(len(rating),len(Review), len(Full_review))

100 100 100

In [37]:
df = pd.DataFrame({'Rating': rating, 'Review': Review, 'Full Reviews': Full_review})
df

,Rating,Review,Full Reviews
0,5,Perfect product!,Photos super
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Best in the market!,Good Camera
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Excellent,NYC
...,...,...,...
95,5,Terrific purchase,Value for money üñ§üñ§
96,5,Fabulous!,It‚Äôs very good battery life and display and vi...
97,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
98,5,Brilliant,Excellent Phone.
99,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."

###  Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field. 
You have to scrape 3 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the above attributes.

In [48]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [49]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [50]:
driver = webdriver.Chrome()

In [51]:
## Opening the flipkart page on automated chrome browser

driver.get("https://www.flipkart.com/")

In [52]:
## Entering details of product

product = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [53]:
search = driver.find_element(By.CLASS_NAME, "_2iLD__")
search.click()

In [54]:
brand = []
Product_details = []
price = []

In [55]:

# Scrapping data of Brand

brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand.append(i.text)
        
        

# Scrapping data of Product Details

product_tags = driver.find_elements(By.XPATH, '//div[@class="_2B099V"]/a[1]')
for i in product_tags:
    Product_details.append(i.text)

    
    
# Scrapping data of Price   
price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tags:
    price.append(i.text)

In [56]:
print(len(brand), len(Product_details), len(price))

40 40 40

In [57]:
df = pd.DataFrame({'Brand Name': brand, 'Product Details': Product_details, 'Price': price })
df

      Brand Name                                    Product Details   Price
0           ATOM                    Alpha Predator Sneakers For Men  ‚Çπ1,354
1           ATOM               Spring Edge Alpha 2 Sneakers For Men  ‚Çπ1,100
2      Deals4you                                 Sneakers For Women    ‚Çπ385
3       URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ‚Çπ299
4       RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ‚Çπ1,179
5           aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ‚Çπ323
6         Layasa                                   Sneakers For Men    ‚Çπ552
7           ATOM               Spring Edge Alpha 2 Sneakers For Men  ‚Çπ1,088
8         DEFLOW  Latest Collection of Stylish and Comfortable C...    ‚Çπ559
9          asian  Carnival-02 Mens High Top Casual Chunky Fashio...    ‚Çπ999
10          ATOM               Spring Edge Alpha 2 Sneakers For Men  ‚Çπ1,334
11          PUMA                     Shuffle Ultra Sneakers For Men  ‚Çπ1,699
12          ATOM                    Alpha Predator Sneakers For Men  ‚Çπ1,354
13      RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ‚Çπ1,179
14        Layasa             Layasa New Attractive Sneakers For Men    ‚Çπ599
15      RapidBox                                   Sneakers For Men    ‚Çπ696
16         asian  Carnival-02 Mens High Top Casual Chunky Sneake...    ‚Çπ999
17         Zixer  Men's Streetwear Pro Style High Top Platform F...    ‚Çπ669
18      RED TAPE  Casual Sneaker Shoes for Men | Soft Cushioned ...  ‚Çπ1,119
19      Shuzer68  New Fashion Classy Stylish Trendy Comfortable ...    ‚Çπ599
20         asian  Tarzan-01 White Sneakers,Casuals,Walking,Styli...    ‚Çπ749
21          ATOM               Spring Edge Alpha 2 Sneakers For Men  ‚Çπ1,088
22      RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ‚Çπ1,179
23        Layasa                                   Sneakers For Men    ‚Çπ377
24      RapidBox                                   Sneakers For Men    ‚Çπ556
25      RED TAPE  Casual Sneaker Shoes for Women | Soft Cushione...  ‚Çπ1,099
26     RUN SEVEN  ( by GO21 ) Soft Insole, Slip-Resistance|Walki...  ‚Çπ1,117
27        CAMPUS                        CAMP CLINT Sneakers For Men  ‚Çπ1,592
28      RapidBox                                   Sneakers For Men    ‚Çπ556
29     SHOETOPIA                                 Sneakers For Women    ‚Çπ709
30     RUN SEVEN  ( by GO21 ) Soft Insole, Slip-Resistance|Walki...  ‚Çπ1,054
31        CAMPUS                       FLYING FURY Sneakers For Men  ‚Çπ1,269
32         asian  Tarzan-05 White Sneakers,Casuals,Loafers,Styli...    ‚Çπ749
33          aadi  Aadi Men Black & Green Casual Sneaker Sneakers...    ‚Çπ465
34  Robbie jones  Casual Canvas High Top Boots For Boys Sneakers...    ‚Çπ449
35        BRUTON                 Lite Casual Shoes Sneakers For Men    ‚Çπ499
36          PUMA                           Smashic Sneakers For Men  ‚Çπ1,929
37          ATOM            Chroma Kick Multicolor Sneakers For Men  ‚Çπ1,515
38      RED TAPE  Casual Sneaker Shoes For Men | Comfortable, Br...  ‚Çπ1,119
39      RED TAPE  Sneaker Casual Shoes For Men | Soft Cushion In...  ‚Çπ1,139

### Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU  Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.amazon.in/")

In [5]:
product = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [6]:
search = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [11]:
cpu_type = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[16]/div/ul/span[9]/li/span/a/div")
cpu_type.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[16]/div/ul/span[9]/li/span/a/div"}
  (Session info: chrome=123.0.6312.106); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7E4EF7072+63090]
	(No symbol) [0x00007FF7E4E62CC2]
	(No symbol) [0x00007FF7E4CFEC65]
	(No symbol) [0x00007FF7E4D4499D]
	(No symbol) [0x00007FF7E4D44ADC]
	(No symbol) [0x00007FF7E4D85B37]
	(No symbol) [0x00007FF7E4D6701F]
	(No symbol) [0x00007FF7E4D83412]
	(No symbol) [0x00007FF7E4D66D83]
	(No symbol) [0x00007FF7E4D383A8]
	(No symbol) [0x00007FF7E4D39441]
	GetHandleVerifier [0x00007FF7E52F25CD+4238285]
	GetHandleVerifier [0x00007FF7E532F72D+4488493]
	GetHandleVerifier [0x00007FF7E5327A0F+4456463]
	GetHandleVerifier [0x00007FF7E4FD05B6+953270]
	(No symbol) [0x00007FF7E4E6E58F]
	(No symbol) [0x00007FF7E4E69264]
	(No symbol) [0x00007FF7E4E6939B]
	(No symbol) [0x00007FF7E4E59BD4]
	BaseThreadInitThunk [0x00007FF95AFF7344+20]
	RtlUserThreadStart [0x00007FF95D0026B1+33]

### Q6: Write a python program to scrape data for Top 1000 Quotes of All Time. 
The above task will be done in following steps: 
1. First get the webpagehttps://www.azquotes.com/ 
2. Click on Top Quote 
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.azquotes.com/")

In [5]:
top_quotes = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [6]:
Quote = []
Author= []
Type_of_quotes = []

In [7]:
start = 0
end = 10

for page in range( start, end):
    
    quote_tag = driver.find_elements(By.XPATH, '//div[@class="wrap-block"]/p/a[2]')
    for i in quote_tag:
        Quote.append(i.text)
        
    
    author_tag = driver.find_elements(By.XPATH, '//div[@class="author"]/a')
    for i in author_tag:
        Author.append(i.text)
        
    
    type_quotes = driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in type_quotes:
        Type_of_quotes.append(i.text)
    
    
    
    next_button = driver.find_element(By.XPATH, '//li[@class="next"]/a')  
    next_button.click()
    

    time.sleep(3)
    
    
driver.quit()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]/a"}
  (Session info: chrome=123.0.6312.106); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7E4EF7072+63090]
	(No symbol) [0x00007FF7E4E62CC2]
	(No symbol) [0x00007FF7E4CFEC65]
	(No symbol) [0x00007FF7E4D4499D]
	(No symbol) [0x00007FF7E4D44ADC]
	(No symbol) [0x00007FF7E4D85B37]
	(No symbol) [0x00007FF7E4D6701F]
	(No symbol) [0x00007FF7E4D83412]
	(No symbol) [0x00007FF7E4D66D83]
	(No symbol) [0x00007FF7E4D383A8]
	(No symbol) [0x00007FF7E4D39441]
	GetHandleVerifier [0x00007FF7E52F25CD+4238285]
	GetHandleVerifier [0x00007FF7E532F72D+4488493]
	GetHandleVerifier [0x00007FF7E5327A0F+4456463]
	GetHandleVerifier [0x00007FF7E4FD05B6+953270]
	(No symbol) [0x00007FF7E4E6E58F]
	(No symbol) [0x00007FF7E4E69264]
	(No symbol) [0x00007FF7E4E6939B]
	(No symbol) [0x00007FF7E4E59BD4]
	BaseThreadInitThunk [0x00007FF95AFF7344+20]
	RtlUserThreadStart [0x00007FF95D0026B1+33]

In [8]:
print(len(Quote), len(Author), len(Type_of_quotes))

1000 1000 1000

In [9]:
df = pd.DataFrame({'Quote': Quote, 'Author': Author, 'Type_of_quotes': Type_of_quotes})
df

,Quote,Author,Type_of_quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1  
scrap the mentioned data and make the DataFrame

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

In [5]:
data = []

In [13]:
table = driver.find_elements(By.XPATH, '//div[@class="TableData"]')

rows = table.find_elements(By.TAG_NAME, 'tr')

for row in rows:
    
    column = row.find_elemnts(By.TAG_NAME, 'td')
    
    if len(column) == 4:
        
        name = column[0].text
        born_dead = column[1].text
        term_of_office = column[2].text
        remarks = column[3].text
        data.append([name, born_dead, term_of_office, remarks])

AttributeError: 'list' object has no attribute 'find_elements'

In [14]:
df = pd.DataFrame(data, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])
df

Empty DataFrame
Columns: [Name, Born-Dead, Term of Office, Remarks]
Index: []

### Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/  

This task will be done in following steps: 
1. First get the webpage https://www.motor1.com/ 
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô 
3. Then click on 50 most expensive cars in the world.. 
4. Then scrap the mentioned data and make the dataframe.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.motor1.com/")

In [5]:
search_cars = driver.find_element(By.XPATH, "/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input")
search_cars.send_keys("50 most expensive cars")

In [6]:
search_key = driver.find_element(By.XPATH, "/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search_key.click()

In [7]:
most_expensive_cars = driver.find_element(By.XPATH, "/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
most_expensive_cars.click()

In [8]:
car_name = []
price = []

In [13]:
car_title = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in car_title:
    car_name.append(i.text)
    
    
    
price_tag = driver.find_elements(By.XPATH, '//p[@class="subheader"]')
for i in price_tag:
    price.append(i.text)

In [14]:
print(len(car_name), len(price))

153 121

In [15]:
df = pd.DataFrame({'Car Name': car_name[:50], 'Price': price[:50] })
df

,Car Name,Price
0,Aston Martin Valour,When it comes to high-end hypercars and super-...
1,McLaren Elva,But in order to find out which of these unatta...
2,Czinger 21C,"We should note, though: The prices listed here..."
3,Ferrari Monza,Top Videos:
4,Gordon Murray T.33,The Fastest And Priciest
5,Koenigsegg Gemera,Price: $1.5 Million
6,Zenvo TSR-S,Want to get your hands on this lovely Aston Ma...
7,Hennessey Venom F5,Price: $1.7 Million
8,Bentley Bacalar,The McLaren Elva is one of the latest addition...
9,Hispano Suiza Carmen Boulogne,Price: $1.7 Million
10,Bentley Mulliner Batur,"You might not know the name Czinger yet, but t..."
11,Deus Vayanne,Price: $1.7 Million
12,SSC Tuatara,"Much like the roof-less McLaren Elva, the Ferr..."
13,Lotus Evija,Price: $1.7 Million
14,Aston Martin Vulcan,The second and slightly more affordable superc...
15,Delage D12,Price: $1.7 Million
16,Ferrari Daytona SP3,"One of two Koenigsegg models on this list, the..."
17,McLaren Speedtail,Price: $1.7 Million
18,Rimac Nevera,"Hailing from Denmark, the Zenvo TSR-S debuted ..."
19,Pagani Utopia,Price: $1.8 Million
20,Pininfarina Battista,"The Hennessey Venom GT was a record-breaker, t..."
21,Gordon Murray T.50,Price: $1.9 Million
22,Lamborghini Countach,"With just 12 total units produced, the Bentley..."
23,Mercedes-AMG Project One,Price: $1.9 Million
24,Zenvo Aurora,To call the Hispano Suiza Carmen Boulogne beau...
25,Aston Martin Victor,Price: $2.0 Million
26,Hennessey Venom F5 Roadster,The electric onslaught is coming. Bentley says...
27,Koenigsegg Jesko,Price: $2.0 Million
28,Aston Martin Valkyrie,The Deus Vayanne may not be a household name (...
29,W Motors Lykan Hypersport,Price: $2.0 Million
30,McLaren Solus,"Although initially cloaked in controversy, SSC..."
31,Lamborghini Sian,Price: $2.1 Million
32,Koenigsegg CC850,With a new Emira sports car and an Eletre elec...
33,Bugatti Chiron Super Sport 300+,Price: $2.3 Million
34,Lamborghini Veneno,"As with a few other cars on this list, the Ast..."
35,Bugatti Bolide,Price: $2.3 Million
36,Pininfarina B95 Speedster,You may have heard of Delage before. In the ea...
37,Bugatti Mistral,Price: $2.3 Million
38,Pagani Huayra Imola,The Ferrari Daytona SP3 is the brand‚Äôs most ae...
39,Bugatti Divo,Price: $2.3 Million
40,SP Automotive Chaos,What would you pay for the fastest production ...
41,Pagani Codalunga,Price: $2.4 Million
42,777 Hypercar,The Rimac Nevera takes the title of most expen...
43,Mercedes-Maybach Exelero,Price: $2.5 Million
44,Bugatti Centodieci,"First came the Zonda, then the Huayra, and now..."
45,Bugatti Chiron Profil√©e,Price: $2.5 Million
46,Rolls-Royce Sweptail,"Aptly named after the company‚Äôs founder, Batti..."
47,Bugatti La Voiture Noire,Price: $2.6 Million
48,Rolls-Royce Boat Tail*,"If the name Gordon Murray sounds familiar, it‚Äô..."
49,Rolls-Royce La Rose Noire Droptail,Price: $2.6 Million